body {
	font-family: helvetica;
}
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid;
}
th, td {
	padding: 10px 20px;
}
#box {
	width: 200px;
}
input[type='text'] {
	margin-bottom: 10px;
	width: 200px;
}
span {
	font-weight: bold;
}
