<!DOCTYPE html>
<html>
<head>
	<title>Login/Registration</title>
</head>
<body>
	<div>
		{% if messages %}
			{% for message in messages %}
				<p style='color:red;'>{{message}}</p>
			{% endfor %}
		{% endif %}
		<h1>Registration</h1>
		<form action='/create' method='post'>
			{% csrf_token %}
			<label for='first_name'>First Name:</label>
			<input type="text" name="first_name"><br>
			<label for='last_name'>Last Name:</label>
			<input type="text" name="last_name"><br>
			<label for='email'>Email:</label>
			<input type="text" name="email"><br>
			<label for='password'>Password:</label>
			<input type="password" name="password"><br>
			<label for='cpassword'>Confirmation PW:</label>
			<input type="password" name="cpassword"><br>
			<input type="submit" name="submit" value='Register'>
		</form>
	</div>
	<div>
		<h1>Login</h1>
		<form action='/login' method='post'>
			{% csrf_token %}
			<label for='email'>Email:</label>
			<input type="text" name="email"><br>
			<label for='password'>Password:</label>
			<input type="password" name="password"><br>
			<input type="submit" name="submit" value='Login'>
		</form>
	</div>

</body>
</html>