<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ninja Gold</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ninja_gold.css')}}">
<!-- 	<link rel="stylesheet" type="text/css" href="/Users/mikeno/Desktop/python_stack/flask_fundamentals/ninja_gold/static/css/ninja_gold.css"> -->
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/ninja_gold.js') }}"></script> -->
<!-- 	<script type="text/javascript" src="/Users/mikeno/Desktop/python_stack/flask_fundamentals/ninja_gold/static/js/ninja_gold.js"></script> -->
</head>
<body>
	<div id='wrapper'>
		<p>Your Gold: {{gold}}</p>
		<div class='box'>
			<h1>Farm</h1>
			<p>(earns 10-20 golds)</p>
			<form action="/process_money" method="post">
				<input type="hidden" name="building" value="farm"/>
				<input type="submit" value="Find Gold!"/>
			</form>
		</div>
		<div class='box'>
			<h1>Cave</h1>
			<p>(earns 5-10 golds)</p>
			<form action="/process_money" method="post">
				<input type="hidden" name="building" value="cave"/>
				<input type="submit" value="Find Gold!"/>
			</form>
		</div>
		<div class='box'>
			<h1>House</h1>
			<p>(earns 2-5 golds)</p>
			<form action="/process_money" method="post">
				<input type="hidden" name="building" value="house"/>
				<input type="submit" value="Find Gold!"/>
			</form>
		</div>
		<div class='box'>
			<h1>Casino</h1>
			<p>(earns/takes 0-50 golds)</p>
			<form action="/process_money" method="post">
				<input type="hidden" name="building" value="casino"/>
				<input type="submit" value="Find Gold!"/>
			</form>
		</div>
		<div id="activities">
			<!-- loops throught the session gold_list created in server.py -->
			{% for gold in gold_list: %}
				<!-- creates new element with the string, and its corresponding color -->
				<p style={{gold.color}}>{{gold.string}}</p>
			{% endfor %}
		</div>
	</div>

</body>
</html>